/* src/Board.css */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px; /* Increased margin to balance the larger squares */
  text-align: center;
  font-size: 34px; /* Larger font size for better visibility */
  font-weight: bold;
}

.status.winner {
  color: green;
  font-weight: bold;
}


@media (max-width: 600px) {
  .status {
    font-size: 18px; /* Smaller font size */
  }
}

@media (max-width: 400px) {
  .status {
    font-size: 14px; /* Even smaller font size */
  }
}
